* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #F9FAF8;
}

.hero-header li,
.section p,
button {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-header h1 {
    font-size: 24px;
}

.container{
    width: 100%;
    height: auto;
    background-color: #1f2937;
}

.hero-header,
.section,
.content_2,
.content_3,
.content_4 {
    width: 70%;
    margin: auto;
}

/* -----------------------------
            SECTION 1 
-------------------------------- */

.hero-header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.hero-header > * {
    padding: 0 20px;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

ul {
    list-style: none;
}

.section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.content{
    padding: 0 20px;
}

.content h1,
.content p,
.content button {
    margin-top: 20px;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

/* -----------------------------
            SECTION 2 
-------------------------------- */

.section_2{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.section_2 > h1{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 20px;
}
  
.info {
    padding: 10px;
    text-align: center;
    margin-top: 40px;
}

.info > p{
    margin-top: 30px;
}

.info > img {
    max-width: 120px;
}

/* -----------------------------
            SECTION 3 
-------------------------------- */

.section_3{
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content_3{
    text-align: center;
    padding: 20px;
}

.content_3 > p{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.content_3 > .author{
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
    font-style: normal;
}

/* -----------------------------
            SECTION 4 
-------------------------------- */

.section_4{
    background-color: white;
    padding-top: 90px;
    padding-bottom: 90px;
}

.content_4{
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    max-width: 60%;
}

.txt{
    color: white;
    margin: 30px;

}

.content_4 > button{
    border: 1px solid white;
    padding: 8px;
    margin: 30px;
}

/* -----------------------------
            FOOTER
-------------------------------- */

footer{
    background-color: #1f2937;
    color: white;
    padding: 20px;
    text-align: center;
}